.main-view.row
  .search-container.pull-right

  h1.page-header JS Weekly Browser

  p
    | The excellent newsletter,
    |  <a href='http://javascriptweekly.com' target='_blank'>JavaScript Weekly</a>,
    | publishes a curated list of JS links every week. This tool lets you
    | browse those headlines by topic.

  p
    | For example, here are
    |  <a href='#/browserify'>headlines containing Browserify</a>.

  hr
